@use '../../styles/mixin' as *;


// ----------------------------------------------------------------------------
// PC
// ----------------------------------------------------------------------------
@include mq(pc){
  #repositories_block{
    @include page_layout($layout : 1, $devise : pc);

    .layout_inner{
      padding-bottom: 32px;
    }
  }

  .ttl{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 22px;
  }

  .items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &::before{
      order: 1;
    }

    &::before,
    &::after{
      content: "";
      display: block;
      width: calc((100% / 3) - 16px);
    }

    .item{
      padding: 16px 20px 20px;
      background-color: #2a4150;
      border-radius: 26px;
      line-height: 1.5;
      font-size: 15px;
      transition: transform .2s ease;
      width: calc((100% / 3) - 16px);
      transition: transform 0.2s;

      &:hover{
        transform: translateY(-2px) scale(1.02);
      }

      .emoji{
        text-align: center;
        font-size: 48px;
        padding: 28px 0;
      }

      .name{
        margin-top: 0.1rem;
        font-size: 1em;
        line-height: 1.6;
        font-weight: 700;
        text-align: center;
      }
    }
  }

}


// ----------------------------------------------------------------------------
// SP
// ----------------------------------------------------------------------------
@include mq(sp){
  #repositories_block{
    @include page_layout($layout : 1, $devise : sp);

    .layout_inner{
      padding-bottom: 26px;
    }
  }

  .ttl{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .items{

    .item{
      padding: 16px 20px 20px;
      background-color: #2a4150;
      border-radius: 26px;
      line-height: 1.5;
      font-size: 15px;
      display: block;

      &:not(:last-child){
        margin-bottom: 16px;
      }

      .emoji{
        text-align: center;
        font-size: 48px;
        padding: 28px 0;
      }

      .name{
        margin-top: 0.1rem;
        font-size: 1em;
        line-height: 1.6;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}
